body {
  font-family: 'Monserrat', 'cursive';
  background-color: $backgroundColor;
  color: $textColor;
  font-size: 20px;
}
h1{
  text-align: center;
  font-size: 1.5em;
}
#app {
  width: 95vw;
  height: 95vh;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}