.comment_container {
  .comment {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin: 15px auto;

    .comment__item {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      padding: 10px;
      background-color: #ffff;

      .comment__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        font-size: 0.8em;
        align-self: start;

      }

      .comment__info {
        display: flex;
        flex-direction: column;

        .comment__header {
          display: flex;
          align-items: center;
          grid-gap: 10px;

          .comment__name {
            font-weight: 600;
            font-size: 1.2em;
          }

          .comment__date {
            font-size: 0.6em;
            color: grey;
          }
        }

        .comment__text {
          margin-top: 5px;
          font-size: 0.8em;
          word-wrap: break-word;
          max-width: 1100px;
        }

        .comment__action {
          display: flex;
          grid-gap: 10px;
          margin-top: 10px;

          img {
            cursor: pointer;
            width: 15px;
            height: 15px;
          }
        }
      }

    }

  }
}